
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class
*.so

.env
venv/
env/
ENV/
.venv/
.ENV/

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

db.sqlite3
media/
staticfiles/
*.log


.env
*.env


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
.tox/
.pytest_cache/


.DS_Store
Thumbs.db
